NGC_API_KEY=
CONTAINER_ID=parakeet-1-1b-ctc-en-us
NIM_TAGS_SELECTOR="name=parakeet-1-1b-ctc-en-us,mode=all"
NIM_HTTP_API_PORT=9000
NIM_GRPC_API_PORT=50051
NIM_ULIMIT_NOFILE=2048:2048
NIM_READY_INTERVAL_SECS=10
NIM_READY_RETRIES=180
RIVA_ASR_ENDPOINT=http://127.0.0.1:50051
RIVA_PROTO_DIR=
RIVA_PROTO_FILES=
REDIS_URL=redis://127.0.0.1/
QDRANT_URL=http://localhost:6334
AUDIO_SAMPLE_PATH=./mike_and_nick.wav
